body{
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .container{
        width: 80%;                                                                   margin: 0 auto; /* Center the DIV horizontally */
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;
        background: #333;
        padding: 10px 0;                                                              color: #fff;                                                              }
    .fixed-header{                                                                    top: 0;
    }                                                                             .fixed-footer{
        bottom: 0;
    }
    /* Some more styles to beutify this example */
    nav a{
        color: #fff;
        text-decoration: none;                                                        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; /* Create scrollbar to test positioning */
    }
/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    text-align: center; /* Center-align all text content */
}

/* Header styles */
.header {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 40px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}

/* Cover section styles */
.cover {
    position: relative;
    text-align: center;
}

.cover img {
    width: 100%;
    height: auto;
}

.cover-content {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    text-align: left; /* Left-align text content within cover content */
}

/* Section headings */
h2 {
    margin: 20px 0;
    font-size: 24px;
    text-align: center; /* Center-align section headings */
}

/* Call-to-action button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FAD5A5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #005e00;
}
.about, .features, .cover-section {
    padding: 16px 16px 16px 16px;
}
/* Footer styles */
.footer {
    bottom: 0;
    position: fixed;
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
