<body id="iau9">
  <section class="gjs-section" id="ikzcx">
    <div class="gjs-container" id="ide7g">
      <img id="topLogo" src=""/><input type="text" id="iu142" placeholder="search users, business"/><button type="button" id="i6usz">Search</button>
    </div>
  </section>
  <section class="gjs-section" id="imbei">
    <div class="gjs-container" id="i4syw">
      <div class="gjs-grid-row" id="idk18">
        <div class="gjs-grid-column" id="iiqfa"><img id="userImage" src=""/>
        </div>
        <div class="gjs-grid-column" id="irsyz">
          <div id="ikc2s">Name here</div>
        </div>
        <div class="gjs-grid-column" id="isso8">
          <div id="irgck">Username here</div>
        </div>
        <div class="gjs-grid-column" id="i7lfm">
          <div id="i93wb">Business name here</div>
        </div>
        <div class="gjs-grid-column" id="ikvkk">
          <div id="ijd7y">Created_at here</div>
          <div id="itqve">Updated-at here</div>
        </div>
        <div class="gjs-grid-column" id="iquy4">
          <div id="iqx7p">Rating here</div>
        </div>
      </div>
    </div>
  </section>
</body>
<style>
</style>
