<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="", href="{{ url_for('static', filename='styles/styles.css')}}">
</head>
<body>
  <div class="header">
        <!-- Logo centered at the top -->
        <div class="logo-container">
            <img src="logo.png" alt="Logo" class="logo">
        </div>

        <!-- Search input and button -->                                                        <div class="search-container">
            <input type="text" id="search" placeholder="Search">
            <button id="search-button">Search</button>
        </div>                                                                          
        <!-- User avatar aligned to the right -->
        <div class="user-avatar">
		<a href="{{ url_for('app_views.login') }}">
			<button id="home-login">Login</button>
		</a>
        </div>
    </div>
    <div class="user-profiles">
	{% for user in users %}
        <div class="profile-card">
	  {% if user.image_url %}
            <img src="{{ url_for(user.image_url) }}" alt="{{ user.name }}">
	    {% else %}
	    <img src="" alt="{{ user.name }}">
	  {% endif %}
	    <h3>{{ user.full_name }}</h3> <p><b><i>{{ user.user_name }}</i></b></p>
	    <p>{{ user.business_name }}</p>
            <div class="rating">
                <span>Rating:</span>
		<span>{{user.rating}}</span>
            </div>
	    <a href="{{ url_for('app_views.profile', user_name=username) }}"<button class="create-con">Request</button></a>
        </div>
	{% endfor %}
    </div>
</body>
</html>
