<body id="iau9">
  <section class="gjs-section" id="ikzcx">
    <div class="gjs-container" id="ide7g">
      <img id="i8wo5" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+"/><input type="text" id="iu142" placeholder="search users, business"/><button type="button" id="i6usz">Search</button>
    </div>
  </section>
  <section class="gjs-section" id="imbei">
    <div class="gjs-container" id="i4syw">
      <div class="gjs-grid-row" id="idk18">
        <div class="gjs-grid-column" id="iiqfa"><img id="ipqli" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+"/>
        </div>
        <div class="gjs-grid-column" id="irsyz">
          <div id="ikc2s">Name here</div>
        </div>
        <div class="gjs-grid-column" id="isso8">
          <div id="irgck">Username here</div>
        </div>
        <div class="gjs-grid-column" id="i7lfm">
          <div id="i93wb">Business name here</div>
        </div>
        <div class="gjs-grid-column" id="ikvkk">
          <div id="ijd7y">Created_at here</div>
          <div id="itqve">Updated-at here</div>
        </div>
        <div class="gjs-grid-column" id="iquy4">
          <div id="iqx7p">Rating here</div>
        </div>
      </div>
    </div>
  </section>
</body>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  .gjs-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }

  .gjs-section {
    display: flex;
    padding: 50px 0;
  }

  #i8wo5 {
    color: black;
    height: 61px;
    width: 57px;
    margin-left: 46%;
  }

  #iu142 {
    margin-top: 11px;
    height: 27px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-left: 37%;
    box-shadow: 0 0 20px -6px black;
    border-top-color: rgba(255, 255, 255, 1);
    border-right-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color: rgba(255, 255, 255, 1);
  }

  #i6usz {
    height: 26px;
    background-color: rgba(82, 255, 69, 1);
    font-family: Trebuchet MS, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    margin-left: 6px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
  }

  #imbei {
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 224px;
    padding-left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-width: 14px;
    border-right-width: 14px;
    border-bottom-width: 14px;
    border-left-width: 14px;
  }

  #ikzcx {
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 9px;
    padding-left: 0px;
  }

  #i4syw {
    border-top-color: rgba(255, 255, 255, 1);
    border-right-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 28px -12px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 72%;
  }

  #ide7g {
    margin-top: -32px;
  }

  #ipqli {
    color: black;
    display: inline;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    width: 84px;
    height: 84px;
  }

  .gjs-grid-column {
    flex: 1 1 0%;
    padding: 5px 0;
  }

  .gjs-grid-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    min-height: auto;
    padding: 10px 0;
  }

  #iiqfa {
    flex: 0 0 auto;
    align-self: flex-start;
    order: -11;
  }

  #idk18 {
    justify-content: flex-end;
  }

  #irsyz {
    display: block;
    align-self: stretch;
  }

  #ikvkk {
    display: block;
    align-self: flex-start;
  }

  #i7lfm {
    display: block;
    align-self: stretch;
  }

  #isso8 {
    display: block;
    align-self: stretch;
  }

  #ikc2s {
    padding: 10px;
  }

  #irgck {
    padding: 10px;
  }

  #i93wb {
    padding: 10px;
  }

  #ijd7y {
    padding: 10px;
  }

  #iqx7p {
    padding: 10px;
  }

  #iquy4 {
    display: block;
    align-self: center;
  }

  #itqve {
    padding: 10px;
  }

  @media (max-width: 992px) {
    .gjs-grid-row {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    #imbei {
      padding-top: 206px;
      padding-right: 0px;
      padding-bottom: 443px;
      padding-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      box-shadow: 0 0px 0px 0px black;
    }

    #ikzcx {
      padding-top: 23px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }

    #i8wo5 {
      margin-left: 40%;
    }

    #iu142 {
      margin-left: 25%;
      border-top-color: rgba(255, 255, 255, 1);
      border-right-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-left-color: rgba(255, 255, 255, 1);
      box-shadow: 0px 3px 26px -6px black;
    }

    #i4syw {
      width: 67%;
      height: 81%;
    }

    #i93wb {
      max-height: 104px;
    }
  }
</style>
