<body id="ivqj">
  <section class="gjs-section" id="i9de">
    <div class="gjs-container" id="ip77"><img id="irrf" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+"/>
      <form method="get" id="ix51">
	<p> {% if error %} {{ error }} {% endif %} </p>
        <div id="ibnj"><input type="text" id="i9jvk" placeholder="Full name" name="name" required/></div>
        <div id="ifmci"><input type="email" id="iu80n" required name="email" placeholder="Email"/></div>
        <div id="ipk1f"><input type="text" id="int0n" name="phone" placeholder="Phone" required/></div>
        <div id="ix47n"><input type="password" id="i4nmt" name="password" placeholder="Password" required/></div>
        <div id="imvss"><input type="password" name="Cpassword" placeholder="Comfirm password" required id="i96sc"/>
        </div>
        <div id="ir9gu"></div>
        <div id="ip8sz"></div>
        <div></div>
        <div></div>
        <div id="i58mo"><button type="button" id="ivmhw">Submit</button></div>
      </form>
    </div>
  </section>
  <div id="ikcc8">Insert your text here</div>
</body>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  .gjs-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }

  .gjs-section {
    display: flex;
    padding: 50px 0;
  }

  #i9de {
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 504px;
    padding-left: 0px;
  }

  #irrf {
    color: black;
    margin-left: 45%;
    height: 80px;
    width: 85px;
    box-shadow: 0 0 13px -7px black;
  }

  #ix51 {
    height: 34px;
  }

  #i9jvk {
    margin-left: 40%;
    margin-top: 9px;
    margin-bottom: 10px;
    width: 176px;
    height: 34px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    box-shadow: 0 0 13px -7px black;
    border-top-color: rgba(255, 255, 255, 1);
    border-right-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color: rgba(255, 255, 255, 1);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  }

  #iu80n {
    margin-left: 40%;
    margin-bottom: 10px;
    height: 34px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    box-shadow: 0 0 13px -7px black;
    border-top-color: rgba(255, 255, 255, 1);
    border-right-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color: rgba(255, 255, 255, 1);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  }

  #i4nmt {
    margin-bottom: 10px;
    height: 34px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    box-shadow: 0px 0px 13px -7px black;
    border-top-color: rgba(255, 255, 255, 1);
    border-right-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color: rgba(255, 255, 255, 1);
    margin-left: 40%;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  }

  #int0n {
    margin-left: 40%;
    margin-bottom: 10px;
    height: 34px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    box-shadow: 0 0 13px -7px black;
    border-top-color: rgba(255, 255, 255, 1);
    border-right-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color: rgba(255, 255, 255, 1);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  }

  #i96sc {
    margin-left: 40%;
    height: 34px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    box-shadow: 0px 0px 13px -7px currentColor;
    border-top-color: rgba(255, 255, 255, 1);
    border-right-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color: rgba(255, 255, 255, 1);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  }

  #ivmhw {
    margin-left: 46%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 78px;
    height: 33px;
    border-top-color: rgba(255, 241, 54, 1);
    border-right-color: rgba(255, 241, 54, 1);
    border-bottom-color: rgba(255, 241, 54, 1);
    border-left-color: rgba(255, 241, 54, 1);
    background-color: rgba(255, 241, 63, 1);
    color: rgba(0, 0, 0, 1);
  }

  #ikcc8 {
    padding: 10px;
  }

  @media (max-width: 768px) {
    #i4nmt {
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-top-color: rgba(255, 255, 255, 1);
      border-right-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-left-color: rgba(255, 255, 255, 1);
    }

    #irrf {
      margin-left: 50%;
    }

    #i9jvk {
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-top-color: rgba(255, 255, 255, 1);
      border-right-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-left-color: rgba(255, 255, 255, 1);
    }

    #i9jvk {
      border-top-color: rgba(255, 255, 255, 1);
      border-right-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-left-color: rgba(255, 255, 255, 1);
    }

    #int0n {
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-top-color: rgba(255, 255, 255, 1);
      border-right-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-left-color: rgba(255, 255, 255, 1);
    }

    #i96sc {
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-top-color: rgba(255, 255, 255, 1);
      border-right-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-left-color: rgba(255, 255, 255, 1);
    }

    #i9de {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      padding-top: 50px;
      padding-right: 0px;
      padding-bottom: 504px;
      padding-left: 0px;
      font-family: Trebuchet MS, Helvetica, sans-serif;
    }

    #ivmhw {
      margin-left: 49%;
      font-family: Trebuchet MS, Helvetica, sans-serif;
      background-color: rgba(255, 246, 49, 1);
    }

    #iu80n {
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-top-color: rgba(255, 255, 255, 1);
      border-right-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-left-color: rgba(255, 255, 255, 1);
    }
  }
</style>
